.wrapper {
  width: 100%;
  max-width: 768px;
  height: 812px;
  margin: auto;
  background-color: var(--background-color);
  padding: 60px 20px 66px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}